[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine
[submodule "src/print/printf"]
	path = src/print/printf
	url = https://github.com/mpaland/printf
[submodule "OVMFbin"]
	path = OVMFbin
	url = https://github.com/Absurdponcho/OVMFbin
